<page-header></page-header>

<div>
  <div class="row">
    <div class="col">
      <mat-form-field >
        <mat-label>Search</mat-label>
        <input matInput type="text"  [(ngModel)]="searchText">
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="openajouteColis()" style="margin-bottom: 20px;" class="buton"
      > Nouveau Colis</button>
    </div>

     </div>





   <div class="row" >
    <mtx-grid [data]="listColis | searchclient :  searchText"
    [columns]="columns"
    [columnResizable]="true"
    [pageSizeOptions]="[1,2,5,10]">
   </mtx-grid>
     </div>

</div>
