<div *ngIf="showModal"></div>
<page-header></page-header>

<div mat-dialog-content class="content">
  <form [formGroup]="expediteureurform">
    <div class="row">
      <mat-form-field appearance="outline" >
        <input matInput placeholder="id" formControlName ="id" [(ngModel)]="q.id">
    </mat-form-field >
    </div>
   <div class="row">
    <mat-form-field appearance="outline" >
      <input matInput placeholder="nom" formControlName ="nom" [(ngModel)]="q.nom">
  </mat-form-field >
  <mat-form-field appearance="outline" >
    <input matInput placeholder="prenom" formControlName ="prenom" [(ngModel)]="q.prenom">
  </mat-form-field >
   </div>
 <div class="row">
  <mat-form-field appearance="outline" >
    <input matInput placeholder="numero de telphone" formControlName ="num_tel" [(ngModel)]="q.num_tel">
  </mat-form-field >

 </div>

  </form>
   <div class="row">
    <div class="col">
      <button mat-raised-button  *ngIf="!isActiveUpdate" class="btnenregistrer" (click)= "create()" color="primary" style="margin-left: 180%;">
        Enregistrer
    </button>
    <button mat-raised-button  *ngIf="isActiveUpdate" class="btnenregistrer" (click)= "update()" color="primary"
    style="margin-left: 180%;">
      modifier
  </button>
    </div>
    <div class="col">
      <button mat-raised-button  class="btnenregistrer" color="accent" (click)="cancel()" style="margin-left: 50%;">
        Annuler
      </button>
    </div>
    </div>


